.entry {
  min-height: 4em;
  padding-left: 4.5em;
  position: relative;

  &--full {
    margin-bottom: 2em;
  }

  &__avatar {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__meta {
    margin-bottom: .25em;
    word-wrap: break-word;
  }

  &__body {
    margin-bottom: .75em;
    font-size: 1.5em;
    line-height: 1.25;
    word-wrap: break-word;
  }

  &__actions {

    .btn {
      margin-right: .5em;
    }

    .dropdown {
      display: inline-block;
    }
  }

  &__input {

    textarea {
      height: 6em;
      resize: vertical;
    }
  }
}
