<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"
    aria-label="Close" ng-click="ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">New entry</h4>
</div>

<div class="modal-body">
  <p>One fine body&hellip;</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-link"
      ng-click="ctrl.cancel()">Cancel</button>
  <button type="button" class="btn btn-primary">Create entry</button>
</div>
